
@{
    ViewBag.Title = "MustTry";
    Layout = "~/Views/Shared/HotelLayout.cshtml";
}

<h2>MustTry</h2>
<form>
    <table>
        <tr>
            <td>
                Select Hotel
            </td>
            <td>
                <select id="ddlHotel"></select>
            </td>
        </tr>
        <tr>
            <td>
                Select Item
            </td>
            <td>
                <select id="ddlitem"></select>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btnAdd">Add</button>
            </td>
            <td>
                <button id="btnClear">Clear</button>
            </td>
        </tr>
    </table>
</form>

